<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
<!--
 <error-page>
        <error-code>403</error-code>
        <location>/403.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/BadDataServer.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/NullPointerException.xhtml</location>
    </error-page> 
<security-constraint>
        <display-name>Ограничение1</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/faces/Groups.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin1</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewGroup.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin2</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewStudent.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin3</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewSubject.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin4</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewTeacher.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin5</web-resource-name>
            <description/>
            <url-pattern>/faces/AllUsers.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin6</web-resource-name>
            <description/>
            <url-pattern>/faces/EditCathedra.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin7</web-resource-name>
            <description/>
            <url-pattern>/faces/EditGroup.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin8</web-resource-name>
            <description/>
            <url-pattern>/faces/EditStudent.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin9</web-resource-name>
            <description/>
            <url-pattern>/faces/EditSubject.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Ограничение2</display-name>
        <web-resource-collection>
            <web-resource-name>student</web-resource-name>
            <description/>
            <url-pattern>/faces/Groups.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student1</web-resource-name>
            <description/>
            <url-pattern>/faces/Cathedras.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student2</web-resource-name>
            <description/>
            <url-pattern>/faces/GroupLists.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student3</web-resource-name>
            <description/>
            <url-pattern>/faces/GroupRateList.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student4</web-resource-name>
            <description/>
            <url-pattern>/faces/GroupSessionState.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student5</web-resource-name>
            <description/>
            <url-pattern>/faces/StudentsInGroup.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student6</web-resource-name>
            <description/>
            <url-pattern>/faces/Subjects.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student7</web-resource-name>
            <description/>
            <url-pattern>/faces/Teachers.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student8</web-resource-name>
            <description/>
            <url-pattern>/faces/TimeTable.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>student9</web-resource-name>
            <description/>
            <url-pattern>/faces/index.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>student</role-name>
            <role-name>admin</role-name>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Ограничение3</display-name>
        <web-resource-collection>
            <web-resource-name>teacher</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewMarkToList.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>teacher1</web-resource-name>
            <description/>
            <url-pattern>/faces/AddNewPointToRateList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.xhtml</form-login-page>
            <form-error-page>/faces/loginerror.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>teacher</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>student</role-name>
    </security-role> -->
</web-app>
